
<h2>Users</h2>
<form class="ui form" action="user/userpost/" method="post">
    <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div class="field">
        <label>Mobile</label>
        <input type="text" name="mobile" placeholder="Mobile" pattern="^[+]91[7-9]{1}[0-9]{9}$">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>